.recipe-card {
  border: solid #f9f9f9;
  border-radius: 5px;
  margin: 1rem 1rem;
  width: 16rem;
  height: 18rem;
}

.recipe-card:hover,
.recipe-card:focus {
  cursor: pointer;
}

.recipe-card-image {
  display: flex;
  justify-content: center;
}

.recipe-card-image img {
  padding-top: 1rem;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.recipe-card-text {
  padding: 1rem;
}
