.recipe-list {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  border: solid;
  margin: 1rem 1rem;
  width: 20rem;
}

.recipe-card:hover,
.recipe-card:focus {
  cursor: pointer;
}

.recipe-card img {
  width: 18rem;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content img {
  width: 18rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Search Bar */

#search-bar {
  border: solid;
}

table,
td,
th {
  border: 1px solid black;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}
