body,
input,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* table */

table,
td,
th {
  border: 1px solid black;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

/* directions form */
.direction-update {
  display: flex;
}

.direction-update textarea {
  width: 90%;
}
